<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wgs32_camera">

    <xacro:macro name="manipulator">
        <xacro:property name="deg" value="0.017453293" />
        <!--degrees to radians-->

        <xacro:include filename="$(find yaskawa_description)/robots/sia5f_arm.urdf"/>
        <xacro:include filename="$(find gripper_description)/grippers/gripper_pushing.xacro"/>

        <joint name="tool0_joint_base_gripper" type="fixed">
            <origin xyz="0 0 0" rpy="${-90*deg} 0 ${-90*deg}"/>
            <parent link="tool0"/>
            <child link="base_link_gripper"/>
        </joint>

        <!-- PUSHING OBJECT -->
        <!-- <link name="obj_to_push">
            <inertial>
                <origin xyz="0 -0.03 0.5" rpy="0 0 0"/>
                <mass value="0.1"/>
                <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
            </inertial>

            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.30 0.06 0.06" />
                </geometry>
                <material name="Cyan">
                    <color rgba="0 1.0 1.0 1.0"/>
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.30 0.06 0.06" />
                </geometry>
            </collision>
        </link>

        <joint name="joint_push" type="fixed">
            <origin xyz="0 -0.03 0" rpy="0 0 0"/>
            <parent link="push_extension"/>
            <child link="obj_to_push"/>
        </joint> -->

    </xacro:macro>
</robot>